<!-- Menu Principal - Responsivo -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Templo da América do Sul</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#ft1" onClick="showBackTop()">Sobre o Templo</a>
        <a class="mdl-navigation__link" href="#map" onClick="showBackTop()">Contato</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#ft1" onClick="toggle_drawer();">Templo</a>
      <a class="mdl-navigation__link" href="#ft2" onClick="toggle_drawer();">Comunidade</a>
      <a class="mdl-navigation__link" href="#ft3" onClick="toggle_drawer();">Inauguração</a>
      <a class="mdl-navigation__link" href="#" onClick="toggle_drawer();">Blog</a>
      <a class="mdl-navigation__link" href="#map" onClick="toggle_drawer();">Contato</a>
    </nav>
  </div>
</div>

<!-- Main -->
<!-- Header com video para desktop e tablet -->
<div id="topo">
  <div class="header-container hidden-xs">
    <div class="video-container">
      <video class="header-video" preload="true" autoplay="autoplay" loop="loop" volume="0" poster="assets/templo.jpg">
        <source src="assets/templo.mp4" type="video/mp4"/>
      </video>
    </div>
    <h1 class="titulo amarelo-super-claro alpha20">Templo Bahá'í da América do Sul</h1>
  </div>

  <!-- Header com jumbotron  (para mobile)  -->
  <div class="jumbotron mobile-bg visible-xs">
    <h1 class="titulo-mobile alpha20">Templo Bahá'í da América do Sul</h1>
  </div>
</div>

<div class="content">
  <blockquote class="mainquote baroque">
    A prece é a conversação espiritual essencial da alma com o seu Criador, direta e sem intermediação. É o alimento espiritual que sustenta a vida do espírito. (...) Nas suas asas, a alma voa nos céus divinos e achega-se à realidade divina.
    <footer class="mainquote">Escrituras bahá'ís</footer>
  </blockquote>

  <!-- Features -->
  <div class="container">
    <!-- Primeira feature -->
    <div id="ft1">
      <!-- desktop -->
      <div class="row feature hidden-xs">
        <div class="col-md-4 col-sm-4">
          <img src="assets/square.png" class="img-circle img-responsive feature">
        </div>
        <div class="col-md-8 col-sm-8 text-center">
          <h3 class="feature">O Templo Bahá'í</h3>
          <p class="text-left">
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
          <p class="text-left">
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
          <p class="text-left">
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
        </div>
      </div>

      <!-- Mobile -->
      <div class="row feature visible-xs">
        <div class="col-xs-4">
          <img src="assets/square.png" class="img-circle img-responsive center-block feature-xs">
        </div>
        <div class="col-xs-8 centro">
          <h3 class="feature">Construindo Comunidades</h3>
        </div>
      </div>

      <div class="row feature visible-xs">
        <div class="col-xs-12 text-center">
          <p>
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
        </div>
      </div>
    </div>

    <div class="separador"></div>

    <!-- segunda feature -->
    <div id="ft2">
      <!--desktop-->
      <div class="row feature hidden-xs">
        <div class="col-md-8 col-sm-8 text-center">
          <h3 class="feature">Comunidades e o Templo</h3>
          <p class="text-left">
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
          <p class="text-left">
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
          <p class="text-left">
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <img src="assets/square.png" class="img-circle img-responsive feature">
        </div>
      </div>

      <!--Mobile-->
      <div class="row feature visible-xs">
        <div class="col-xs-4">
          <img src="assets/square.png" class="img-circle img-responsive center-block feature-xs">
        </div>
        <div class="col-xs-8 centro">
          <h3 class="feature">Construindo Comunidades</h3>
        </div>
      </div>

      <div class="row feature visible-xs">
        <div class="col-xs-12 text-center">
          <p>
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
        </div>
      </div>
    </div>

    <div class="separador"></div>

    <!-- terceira feature -->
    <div id="ft3">
      <!-- Desktop  -->
      <div class="row feature hidden-xs">
        <div class="col-md-4 col-sm-4">
          <img src="assets/square.png" class="img-circle img-responsive feature">
        </div>
        <div class="col-md-8 col-sm-8 text-center">
          <h3 class="feature">A Inauguração do Templo</h3>
          <p class="text-left">
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
          <p class="text-left">
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
          <p class="text-left">
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
        </div>
      </div>

      <!-- Mobile -->
      <div class="row feature visible-xs">
        <div class="col-xs-4">
          <img src="assets/square.png" class="img-circle img-responsive center-block feature-xs">
        </div>
        <div class="col-xs-8 centro">
          <h3 class="feature">Construindo Comunidades</h3>
        </div>
      </div>

      <div class="row feature visible-xs">
        <div class="col-xs-12 text-center">
          <p>
            Minions ipsum but me want bananaaa! Bappleees poopayee poopayee chasy wiiiii belloo! Jiji. Tulaliloo hahaha wiiiii gelatooo bee do bee do bee do daa baboiii me want bananaaa! Gelatooo me want bananaaa! Daa ti aamoo! Hahaha underweaaar tank yuuu! Jeje. Butt uuuhhh daa potatoooo.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="separador"></div>

<div class="content">
  <div class="container">
    <div class="new-group row feature">
      <div class="col-md-12 col-sm-12 text-center">
        <%= render 'person/form' %>
      </div>
    </div>
  </div>
</div>

<div id="map" class="map-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="map"> Localização </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 hidden-xs hidden-sm">
      <address>
        Site: <a href="templo.bahai.cl">templo.bahai.cl</a><br />
        Informações: <a href="mailto: info@templo.bahai.cl">info@templo.bahai.cl</a><br />
        Visitas: <a href="mailto: visitas@templo.bahai.cl">visitas@templo.bahai.cl</a><br />
        Telefone:  (56-9) 8560 9332 <br />
        Avenida Paulista<br />
        CEP: 01311-100<br />
        Peñalolén - Chile
      </address>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div style="text-decoration:none; overflow:hidden; height:500px; width:100%;">
        <div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;">
          <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Templo+Bahai+De+Sudamérica+-+Camino+Privado,+Peñalolén,+Chile&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
        </div>
        <a class="embed-map-code" href="https://www.bootstrapskins.com" id="grab-map-data">bootstrap</a>
        <style>#embedded-map-display .map-generator{max-width: 100%; max-height: 100%; background: none;}</style>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid footer">
  <div class="row">
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
      <ol class="list-unstyled">
        <li class="title">Comunidade Bahá'í</li>
        <li>
          <ol class="list-unstyled">
            <li><a class="mdl-navigation__link" href="#">Comunidade Bahá'í do Brasil</a></li>
            <li><a class="mdl-navigation__link" href="#">Comunidade Bahá'í do Chile</a></li>
            <li><a class="mdl-navigation__link" href="#">Comunidade Bahá'í Internacional</a></li>
            <li><a class="mdl-navigation__link" href="#">Site do Templo do Chile</a></li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
      <ol class="list-unstyled">
        <li class="title">Mapa do site</li>
        <li>
          <ol class="list-unstyled">
            <li><a class="mdl-navigation__link" href="#">Templo</a></li>
            <li><a class="mdl-navigation__link" href="#">Comunidade</a></li>
            <li><a class="mdl-navigation__link" href="#">Inauguração</a></li>
            <li><a class="mdl-navigation__link" href="#">Blog</a></li>
            <li><a class="mdl-navigation__link" href="#">Contato</a></li>
          </ol>
        </li>
      </ol>
    </div>
  </div>

  <!-- Copyright -->
  <div class="row">
    <div class="container-fluid col-lg-12 col-md-12 col-sm-12 col-xs-12 copyright">
      2015 &copy; Comunidade Bahá'í do Brasil
    </div>
  </div>
</div>

<div id="backToTopButton" class="back-to-top-btn">
  <a href="#topo" class="back-to-top-btn" onclick="hideBackTop()">Voltar ao Topo</a>
</div>
