#new_group .field-set {
  margin: 20px 0;
}

.content.group-container {
  padding-bottom: 0;

  div.person-group {
    margin-bottom: 0;

    .person {
      color: #ECD779;
      margin-bottom: 10px;
    }

    p {
      color: #fff;
      font-size: 15px;
      margin: 15px 0 25px;
    }


    label {
      color: #ECD779;
    }

    input {
      padding-left: 10px;
    }

    .btn-danger {
      width: 34px;
      border-radius: 100px;
      padding-left: 8.5px;
    }
  }
}